body{
    color: azure;
    text-align:center;

}

/* Index.html */

#container{
    margin: 0 auto;
    max-width: 90%;
    display:grid;
    
    /* Using % */
    /* grid-template-columns: 30% 40% 30%;  */
    /* using fraction */
    /* grid-template-columns: 1fr 2fr 2fr; */
    /* using repeat() */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows:minmax(200px,auto) ; */
    grid-template-rows:4, minmax(3fr,auto);
    grid-gap: 10px;
}
#container div{
    background-color: aqua;
    padding: 30px;
    border: 1px solid black;
    
}
#container div:nth-child(even){
    background-color: gray;
}


/* Link styling */

.flex{
    

}
.flex ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
a{
    text-decoration: none;
    
}